@import "tailwindcss";

:root {
  --color-big: rgb(238, 255, 65);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: rgb(153, 153, 153);
}

.stragecolor {
  background-color: var(--color-big);
}
