@import "tailwindcss";
:root {
  --color-big: #d9ff41;
}

html,
body {
  box-sizing: border-box;
  color: rgb(153, 153, 153);
}

.stragecolor {
  background-color: var(--color-big);
}

.navboxshadow {
  box-shadow: 0 15px 15px 5px var(--color-big);
}
