@import "tailwindcss";
:root {
  --color-big: #d9ff41;
}

html,
body {
  box-sizing: border-box;
  color: #999999;
}

.stragecolor {
  background-color: var(--color-big);
}

.navboxshadow {
  box-shadow: 0 15px 20px 10px var(--color-big);
}
